* {
  margin: 0;
  padding: 0;
}


body {
	font:100%/1.5em "roboto", san-serif;
	margin-left: 100px;
	margin-right: 100px;
	/* adding a min-width got rid of the horizontal scrollbar*/
	min-width: 100em;
}


header {
	background-color: grey;
	height:60px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	
}


.topnav {
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 40px;
	/* only 20px padding on right because the nav li style
	has a right margin of 20px to allow for a space between
	Account and Post */
	padding-right: 20px;
	list-style: none;

}


.topnav li {
	margin-right: 20px;
	display: inline-block;

}

.topnav li:nth-child(1) {	
	float: left;

}

.topnav li:nth-child(n+2) {
	float: right;
	
}


.logo {
	color: black;
	font-weight: bold;
}


.topnav a {
 	font-size: 150%;
 	text-decoration: none;
 }


label {
	display: block;
	margin-bottom: 10px;
	margin-top: 100px;
}


.search-input {
	font-size: 150%;
	width: 30em;
	height: 30px;
}

.search-button {
	height: 30px;
	width: auto;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	
}

.search-input, .search-button {
	vertical-align: middle;
	padding: 5px;
}

.paging ul {
	font-size: 0;
	margin-top: 40px;
	list-style: none;
	
}

.paging li{
	/* tried to add 100% or em and nothing appeared*/
	font-size: 18px;
	display: inline-block;
	border: 1px solid #DDDDDD;
	padding: 10px;

}


section ul {
	margin-top: 60px;
	list-style: none;
	color: grey;
	
}

section li {
	margin-bottom: 20px;

}

/* added an inline block on a and set a width of 18em to align the location after links*/
section li a{
	text-decoration: none;
	color: blue;
	font-weight: bold;
	display: inline-block;
	width: 20em;
	margin-left: 1.5em;
	
	
}





